# Civentral application
APP_ENV=development
APP_DEBUG=true

# Civentral MySQL 8.0+
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=civentral
DB_USER=Suruiz
DB_PASSWORD=iwlf18mvsezxfg2l

# Transport & Mobility Management SSO client
TMM_SSO_CLIENT_ID=tmm-web
TMM_SSO_CLIENT_SECRET=c2486b877455b92009f806d4f5cb81c6eb9aef607e823454eb3378e4cdcba382
TMM_SSO_REDIRECT_URI=http://127.0.0.1:8088/auth/callback.php
TMM_APP_URL=http://127.0.0.1:8088
